<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=desgano, initial-scale=1.0">
	<link rel="stylesheet" href="./assets/css/loginandsignup.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
	<link rel="shortcut icon" href="assets/images/favicon-32x32.png" type="image/png">
	<script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
	<title>Login | Balcam's Gym</title>
</head>

<body id="app" class="relative">
	<div :class="{'hidden': !isOpen}" class="w-screen h-screen flex justify-center items-center absolute z-50 bg-gray-700/50">
		<div class="bg-gray-900 h-[300px] w-[400px] rounded shadow flex flex-col justify-center items-center gap-5">
			<div class="flex flex-row relative items-center justify-center">
				<i class="uil uil-check text-2xl absolute text-green-700 right-[45px]"></i>				
				<h3 class="text-white">Done!</h3>
			</div>
			<div class="flex flex-col justify-center items-center">
				<h2 class="text-xl font-bold text-white">One last thing!</h2>
				<p class="text-xl font-thin text-white text-center">Check out your inbox in: <span>{{email}}</span></p>
			</div>
			<button @click="isOpen= !isOpen" class="py-2 px-5 bg-yellow-500 rounded text-black font-black shadow">OK</button>
		</div>
	</div>
	<div class="section bg-login">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
						<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
						<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Log In</h4>
											<div class="relative form-group">
												<input v-model="email" type="email" name="logemail" class="pl-[35px] form-style bg-gray-900"
													placeholder="Your Email" id="logemail" autocomplete="off">
												<i class="absolute left-0 input-icon uil uil-at"></i>
											</div>
											<div class="relative form-group mt-2">
												<input @keyup.enter="logIn" v-model="password" type="password" name="logpass" class="pl-[35px] bg-gray-900 form-style"
													placeholder="Your Password" id="logpass" autocomplete="off">
												<i class="absolute left-0 input-icon uil uil-lock-alt"></i>
											</div>
											<button @click="logIn" class="btn mt-4">Submit</button>
											<p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your
													password?</a></p>
										</div>
									</div>
								</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="relative section text-center">
											<h4 class="mb-4 pb-3">Sign Up</h4>
											<div class="form-group">
												<input v-model="firstName" type="text" name="firstName" class="pl-[35px] form-style bg-gray-900"
													placeholder="Your first name" id="logname" autocomplete="off">
												<i class="absolute left-0 input-icon uil uil-user"></i>
											</div>
											<div class="relative form-group">
												<input v-model="lastName" type="text" name="lastName" class="pl-[35px] form-style bg-gray-900"
													placeholder="Your last Name" id="logname" autocomplete="off">
												<i class="absolute left-0 input-icon uil uil-user"></i>
											</div>
											<div class="relative form-group mt-2">
												<input v-model="email" type="email" name="logemail" class="pl-[35px] form-style bg-gray-900"
													placeholder="Your Email" id="logemail" autocomplete="off">
												<i class="absolute left-0 input-icon uil uil-at"></i>
											</div>
											<div class="relative form-group mt-2">
												<input v-model="password" type="password" name="logpass" class="pl-[35px] form-style bg-gray-900"
													placeholder="Your Password" id="logpass" autocomplete="off">
												<i class="absolute left-0 input-icon uil uil-lock-alt"></i>
											</div>
											<button @click="register" class="btn mt-3">submit</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- JavaScript Bundle with Popper -->
	<script src="../path/to/flowbite/dist/flowbite.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="./assets/js/login.js"></script>


</body>

</html>