<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./assets/images/favicon-32x32.png" type="image/png">
    <script src="https://cdn.tailwindcss.com"></script>
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="assets/css/LineIcons.2.0.css">
    <link rel="stylesheet" href="../web/assets/css/shop.css">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />

    <title>Shop - Balcam's</title>
</head>

<body id="app">
    <!-- NAV -->
    <nav class="mi-h-[7vh] lg:min-h-[7vh] relative bg-[#1E1E1E] shadow-lg ">
        <div class="container px-6 py-6 mx-auto">
            <div class="lg:flex lg:items-center lg:justify-between">
                <div class="flex items-center justify-between w-full">
                    <div class="text-xl font-semibold text-gray-700">
                        <a class="flex flex-row justify-content-center align-items-center navbar-brand "
                            href="index.html">
                            <img class="pr-3" style="height: 70px;" src="assets/images/logo-Balcam-white.png"
                                alt="Logo">
                            <div class="pt-2 d-flex flex-column justify-content-center align-items-center">
                                <H4 class="h4Balcam text-2xl text-white">BALCAM<span
                                        class="text text-[#f1d24d]">'S</span></H4>
                                <h4 class="h4Balcam text-2xl text-white">GYM SHOP</h4>
                            </div>
                        </a>
                    </div>

                    <div class="pt-2 hidden lg:flex flex-col items-center justify-center">
                        <h3 class="text-xl text-white font-thin pt-2">Welcome to the shop of your best gym, we have what
                            you
                            are looking for!</h3>
                    </div>

                    <button type="button" data-drawer-target="drawer-right-example"
                        data-drawer-show="drawer-right-example" data-drawer-placement="right"
                        aria-controls="drawer-right-example" v-cloak @click="isOpen = !isOpen" type="button"
                        class="hidden lg:block text-gray-200  hover:text-gray-400 focus:outline-none focus:text-gray-400"
                        aria-label="toggle menu">
                        <div
                            class="relative transition-colors duration-300 transform text-gray-200 hover:text-gray-300">
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <span class="absolute top-0 left-0 p-1 text-xs text-white bg-blue-500 rounded-full"></span>
                        </div>
                    </button>

                    <button v-cloak @click="isOpen = !isOpen" type="button"
                        class="block lg:hidden text-gray-200  hover:text-gray-400 focus:outline-none focus:text-gray-400"
                        aria-label="toggle menu">

                        <div
                            class="relative transition-colors duration-300 transform text-gray-200 hover:text-gray-300">
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                            <span class="absolute top-0 left-0 p-1 text-xs text-white bg-blue-500 rounded-full"></span>
                        </div>
                    </button>
                    <div>
                        <a :href="'./profile.html?id='+clients.id">
                            <i class="lni lni-user text-xl border rounded py-2 px-3"></i>
                        </a>
                    </div>
                </div>

                <!-- drawer component -->
                <div id="drawer-right-example"
                    class="fixed z-50 h-screen p-4 overflow-y-auto w-[550px] bg-[#1e1e1e] transition-transform right-0 top-0 translate-x-full"
                    tabindex="-1" aria-labelledby="drawer-right-label" aria-hidden="true">
                    <div class="flex flex-col gap-5 mt-4 lg:mt-0">
                        <h2 class="text-center text-white text-xl uppercase">
                            Shopping cart
                        </h2>
                        <h4 class="text-left ml-3 text-white">
                            Product List
                        </h4>
                        <div class="flex flex-wrap gap-3">
                            <div v-for="product in cartProducts"
                                class="flex justify-between items-center w-full border-b">
                                <img :src="product.urlImg" class="pl-5 h-24 object-contain">
                                <h3 class="text-white truncate w-[200px]">{{product.name}}</h3>
                                <div class="flex justify-between items-center gap-2 px-1 py-2 border rounded">
                                    <ion-icon @click="reduceQuantity(product)"
                                        class="cursor-pointer text-white text-2xl select-none " name="remove-outline">
                                    </ion-icon>
                                    <p class="text-white text-xl truncate select-none">{{product.quantity}}</p>
                                    <ion-icon v-if="product.stockAux > 0" @click="addCart(product)"
                                        class="select-none cursor-pointer text-white text-2xl" name="add-outline">
                                    </ion-icon>
                                    <ion-icon v-else @click="noStockAllert"
                                        class="select-none cursor-pointer text-black text-2xl cursor-not-allowed"
                                        name="add-outline">
                                    </ion-icon>
                                </div>
                                <ion-icon @click="deleteItem(product)" class="select-none text-xl text-white cursor-pointer"
                                    name="close-outline"></ion-icon>

                            </div>
                        </div>
                        <div class="flex w-full items-center justify-between">
                            <button class="w-[65%] bg-[#f1d24d] font-bold px-5 py-2 rounded text-black">
                                <a href="./checkout.html">Continue checkout</a>
                            </button>
                            <button @click="cleanCart"
                                class="w-[30%] flex justify-center gap-2 items-center bg-red-700 px-5 py-2 rounded text-white">
                                <ion-icon class="text-xl" name="trash-outline"></ion-icon>
                                <p>Clear cart</p>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu open -->
                <div v-cloak :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']"
                    class="absolute inset-x-0 z-50 w-full px-6 py-4 transition-all duration-300 ease-in-out  bg-[#1E1E1E] lg:mt-0 lg:p-0 lg:top-0 lg:relative lg:bg-transparent lg:w-auto lg:opacity-100 lg:translate-x-0 lg:flex lg:items-center">
                    <div class="lg:hidden flex flex-col gap-5 mt-4 lg:mt-0">
                        <h2 class="text-center text-white text-xl">
                            Shopping cart
                        </h2>
                        <h4 class="text-right text-white">
                            Product list
                        </h4>
                        <div class="flex flex-wrap gap-3">
                            <div v-for="product in cartProducts"
                                class="flex justify-between items-center w-full border-b">
                                <img :src="product.urlImg" class="h-24 object-contain">
                                <h3 class="text-white truncate w-[200px]">{{product.name}}</h3>
                                <div
                                    class="bg-yellow-400  flex justify-between items-center gap-2 px-1 py-2 border rounded">
                                    <ion-icon @click="deleteItemCart(product)" class="text-black text-2xl"
                                        name="remove-outline"></ion-icon>
                                    <p class="text-black text-xl truncate">{{product.quantity}}</p>
                                    <ion-icon @click="addCartAllert = !addCartAllert" @click="addCart(product)"
                                        class=" text-black text-2xl" name="add-outline">
                                    </ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <transition>
        <div v-if="noStock" class="z-40 sticky top-0 w-full text-white bg-red-500">
            <div class="container flex items-center justify-between px-6 py-4 mx-auto">
                <div class="flex">
                    <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                        <path
                            d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z">
                        </path>
                    </svg>

                    <p class="mx-3">There is no stock available! - Try another product.</p>
                </div>

                <button @click="noStock = !noStock"
                    class="p-1 transition-colors duration-300 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                    <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </transition>
    <transition class="relative sticky top-10 left-10 z-50">
        <div v-if="addCartAllert"
            class="absolute top-10 left-10 flex w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
            <div class="flex items-center justify-center w-12 bg-emerald-500">
                <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z" />
                </svg>
            </div>

            <div class="px-4 py-2 -mx-3">
                <div class="mx-3">
                    <span class="font-semibold text-emerald-500 dark:text-emerald-400">Success</span>
                    <p class="text-sm text-gray-600 dark:text-gray-200">Product added to the cart!</p>
                </div>
            </div>
        </div>
    </transition>
    <section class="flex w-full flex-col lg:flex-row flex-wrap justify-center gap-10 pt-5">
        <!-- CATEGORIES  -->
        <div class="h-full flex flex-col w-[30vh] hidden lg:flex border-r">
            <div class="p-5">
                <div class=" flex flex-col gap-5 mt-2 text-5xl ">
                    <h2 class="font-bold text-3xl cursor-default">
                        Categories
                    </h2>
                    <div v-for="category in categories" class="cursor-pointer">
                        <h4 @click="selectFilter(category)" :class="checkedCategory == category ? 'font-bold' : ''"
                            class="text-xl">
                            {{category}}
                        </h4>
                    </div>
                    <hr>

                </div>
                <hr>
                <div class="pt-5">
                    <h2 class="font-bold text-2xl cursor-default">
                        Price
                    </h2>
                    <input @input="rangePriceFilter(inputRange)" value="100" max="300" v-model="inputRange" type="range"
                        name="priceRange" id="priceRange">
                    <h4 class="text-xl text-red-600">Up to: {{moneyFormat.format(inputRange)}}</h4>
                </div>
                <div>
                    <h2 class=" mt-4 pt-16 text-1xl text-yellow-500 font-bold">
                        <a href="./index.html">
                            <ion-icon name="arrow-back-outline"></ion-icon>BACK TO LOGIN
                        </a>
                    </h2>
                </div>
            </div>
            <div class=" flex flex-col flex-wrap gap-5">
                <h3 class="font-bold text-xl pb-5">Last Units!</h3>
                <div v-for="product in featureds" class="bg-[#1e1e1e] shadow border overflow-hidden rounded shadow flex flex-col gap-2 h-[300px] w-[200px]">
                    <div class="relative flex items-center justify-center">
                        <div v-if="product.stock < 5" class=" absolute left-0 top-3 rounded-r bg-red-600 z-20">
                            <p class="p-2 px-4 text-white uppercase bold">Few units left</p>
                        </div>
                        <img :src="product.urlImg" class="object-cover h-48 z-10 relative" alt="product.name">
                    </div>
                    <div class="flex flex-col h-full justify-between m-3">
                        <h3 class="font-bold text-white">{{product.name}}</h3>
                        <div class="flex flex-row justify-between items-center">
                            <p class="text-white">{{moneyFormat.format(product.price)}}</p>
                            <button :disabled="product.stockAux == 0" @click="addCart(product)"
                            class="lg:text-white text-black bg-[#f1d24d] lg:hover:bg-[#f1d24d] transition-all duration-150 flex flex-row-reverse gap-2 jusfy-around items-center lg:bg-gray-900 px-2 py-1 rounded">
                            <div class="relative transition-colors duration-300 transform ">
                                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            </button>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <!-- CATEGORIES ENDS  -->

        <!-- PRODUCTS LIST  -->
        <div class="min-h-full w-[120vh]">
            <div class="p-5 flex flex-col">
                <div class="flex justify-between items-center w-full lg:w-[87%]">
                    <h2 class="font-bold text-4xl cursor-default ">
                        Sale Off
                    </h2>
                    <div class="flex items-center justify-center gap-2 border p-2">
                        <ion-icon class="text-2xl text-black" name="search-outline"></ion-icon>
                        <input @keyup="searchFilter" v-model="searchFilterInput" class="border-none focus:outline-none"
                            type="search" name="search" id="search" placeholder="What do you need?">
                    </div>
                </div>

                <div class="flex gap-10 lg:gap-10 flex-wrap pt-5">
                    <!-- CARDS-->
                    <div v-for="(product, i) in filteredProducts"
                        class="lg:border-0 border overflow-hidden rounded shadow flex flex-col gap-2 h-[300px] w-full lg:w-[290px] lg:h-[430px]">
                        <div class="relative flex items-center justify-center">
                            <div v-if="product.stock < 5" class=" absolute left-0 top-3 rounded-r bg-red-600 z-20">
                                <p class="p-2 px-4 text-white uppercase bold">Few units left</p>
                            </div>

                            <img :src="product.urlImg"
                                class="hover:rotate-0 lg:hover:rotate-12 object-cover h-48 lg:h-[210px] z-10 transition-all duration-150 hover:scale-100 lg:hover:scale-[1.4] relative lg:absolute"
                                alt="product.name">
                            <div class="lg:visible invisible absolute z-0 bg-gray-600/25 h-[290px] w-[290px]"></div>
                            <img v-if="i % 2 == 0" class="hidden lg:block object-cover" :src="productsBg[1]"
                                alt="NIKE AIR">
                            <img v-else class="hidden lg:block object-cover" :src="productsBg[0]">
                        </div>

                        <div class="flex flex-col justify-between h-full lg:bg-white bg-[#1e1e1e]">
                            <a :href="'./productdetails.html?id='+product.id">
                                <h2 class="truncate-shop text-xl font-medium text-white lg:text-gray-700 p-2">
                                    {{product.name}}</h2>
                            </a>
                            <div class="flex justify-between items-center p-3">
                                <h3 class=" font-bold text-xl text-white lg:text-[#1e1e1e]">
                                    {{moneyFormat.format(product.price)}}</h3>
                                <button :disabled="product.stockAux == 0" @click="addCart(product)"
                                    class="lg:text-white text-black bg-[#f1d24d] lg:hover:bg-[#f1d24d] transition-all duration-150 flex flex-row-reverse gap-2 jusfy-around items-center lg:bg-gray-900 px-2 py-1 rounded">
                                    <h4 class="">Add to cart</h4>
                                    <div class="relative transition-colors duration-300 transform ">
                                        <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- PRODUCTS LIST  -->
    </section>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../path/to/flowbite/dist/flowbite.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../web/assets/js/shop.js"></script>
</body>

</html>