@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

body {
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4{
    font-family: "Lato", sans-serif !important;
}

h4{
    font-family: "Lato", sans-serif !important;
    font-size: 30px !important;
}

.truncate-shop {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

h4 {
    font-size: 21px !important;
    padding-top: 2.8px;
  }

.containers{
    margin-top: 33px;
    padding: 25px 60px 25px 25px;
    border-radius: 10px;
    max-width: 70rem;
}

.col-md-7 h2{
    color:#555;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 23px 0px;
}
.col-md-7 p{
    color:#555;
    font-size: 20px;
    margin: 0px 0px 23px 0px;
}
.price{
    color: #555;
    font-size: 33px;
    font-weight: bold;
    padding: 1px 0px 17px 0px;

}
input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 33px;

}
.cart{
    background: #FE980F;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 20px;
}


.best .text{
    color: #555;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    text-align: center;
}


