@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

body {
    font-family: "Lato", sans-serif;
    color: #444444;
}

.truncate-shop {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.color{
    color: white !important;
}

.bg-body{
    background-color: #403d3dd0;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}


.v-enter-from,
.v-leave-to {
    opacity: 0;
}